$line-color: rgba(125, 138, 159, 0.51);

.photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

img {
  height: 50px;
}

.left-section {
  text-align: center;
  background-color: $line-color;
  padding-top: 30px;
  padding-bottom: 30px;
}

.right-section {
  background-color: $line-color;
  padding: 30px;
  margin-bottom: 30px;

  h3 {
    margin-bottom: 30px;
  }
}

.main-container {
  display: flex;
  margin-top: 30px;
}

hr {
  background: $line-color;
}

table {
  width: 100%;
  table-layout: fixed;
}

.first-column {
  width: 30%;
}

.small-margin {
  margin-bottom: 5px;
}

#experience {
  margin-top: 10px;
}

.right-menu {
  position: fixed;
  right: 10%;

  i:hover {
    font-size: 35px;
    cursor: pointer;
  }
}

.mat-chip {
  background-color: #4196bc;
}

.special-border {
  border-bottom: 1px solid $line-color;
}

mat-chips-list {
  padding-bottom: 5px;
}

#tech-table {
  td:first-child {
    vertical-align: top;
  }

  td {
    padding-top: 10px;
  }
}

