<div class="menu">
  <app-menu title="About developer"></app-menu>
</div>

<div class="main-container col-md-12">

  <section class="col-md-1"></section>
  <section class="col-md-3">
    <div class="left-section">
      <img class="image" src="assets/img/krzysztof.zacha.png" alt="Author photo">
      <h3>Krzysztof Zacha</h3>
      <h6>Fullstack developer</h6>
      <a href="/assets/cv.pdf" download>
        <button mat-raised-button color="primary">Download cv</button>
      </a>
    </div>
  </section>

  <section class="col-md-6">
    <div class="right-section">
      <h3>
        <i class="material-icons">
          person
        </i> About me
      </h3>
      <strong>
        Hi, I'm Krzysztof Zacha!
      </strong>
      <p>
        I'm fullstack developer with about 7 years of expierence as a developer,
        mostly in Java on server-side and Angular as a presentation layer, but I'm happy to learn new technologies.
        I like to work in Scrum, where can I share new ideas with the team to improve our development process.
        Personally I'm friendly, open minded and I love to work with the people.
      </p>
      <hr>
      <h4>
        <i class="material-icons">
          info
        </i>
        Personal information
      </h4>
      <section>
        <table cellspacing="10">
          <colgroup>
            <col class="first-column"/>
            <col/>
          </colgroup>
          <tr>
            <td>
              <strong>Full name:</strong>
            </td>
            <td>
              Krzysztof Zacha
            </td>
          </tr>
          <tr>
            <td>
              <strong>Phone:</strong>
            </td>
            <td>
              696 609 555
            </td>
          </tr>
          <tr>
            <td>
              <strong>Full name:</strong>
            </td>
            <td>
              Krzysztof Zacha
            </td>
          </tr>
          <tr>
            <td>
              <strong>City:</strong>
            </td>
            <td>
              Wrocław
            </td>
          </tr>
          <tr>
            <td>
              <strong>E-mail:</strong>
            </td>
            <td>
              <a href="mailto:krzysztof.zacha@gmail.com">krzysztof.zacha@gmail.com</a>
            </td>
          </tr>
        </table>

        <hr>
        <h4>
          <i class="material-icons">
            school
          </i> School
        </h4>

      </section>

      <section></section>

    </div>

  </section>


  <section class="col-md-1"></section>
</div>
