<div class="menu">
  <app-menu title="About developer"></app-menu>
</div>

<div class="main-container col-md-12">
  <section class="col-md-1"></section>
  <section class="col-md-3">
    <div class="left-section">
      <img (mouseenter)="onMouseEnter() " (mouseleave)="onMouseLeave()"
           class="image" src="{{imageSrc}}" alt="Author photo">
      <h3>Krzysztof Zacha</h3>
      <h6>Fullstack developer</h6>
      <a href="/assets/cv.pdf" download>
        <button mat-raised-button color="primary">Download cv</button>
      </a>
    </div>
  </section>

  <section class="col-md-6" id="about">
    <div class="right-section">
      <h3>
        <i class="material-icons">
          person
        </i> About me
      </h3>
      <strong>
        Hi, I'm Krzysztof Zacha!
      </strong>
      <p>
        I'm fullstack developer with about 7 years of expierence as a developer,
        mostly in Java on server-side and Angular as a presentation layer, but I'm happy to learn new technologies.
        I like to work in Scrum, where can I share new ideas with the team to improve our development process.
        Personally I'm friendly, open minded and I love to work with the people.
      </p>
      <hr>
      <h4>
        <i class="material-icons">
          info
        </i>
        Personal information
      </h4>
      <section>
        <table cellspacing="10">
          <colgroup>
            <col class="first-column"/>
            <col/>
          </colgroup>
          <tr>
            <td>
              <strong>Full name:</strong>
            </td>
            <td>
              Krzysztof Zacha
            </td>
          </tr>
          <tr>
            <td>
              <strong>Phone:</strong>
            </td>
            <td>
              696 609 555
            </td>
          </tr>
          <tr>
            <td>
              <strong>Full name:</strong>
            </td>
            <td>
              Krzysztof Zacha
            </td>
          </tr>
          <tr>
            <td>
              <strong>City:</strong>
            </td>
            <td>
              Wrocław (Poland)
            </td>
          </tr>
          <tr>
            <td>
              <strong>E-mail:</strong>
            </td>
            <td>
              <a href="mailto:krzysztof.zacha@gmail.com">krzysztof.zacha@gmail.com</a>
            </td>
          </tr>
        </table>

        <hr>
        <h4>
          <i class="material-icons">
            school
          </i> School
        </h4>
        <p class="small-margin">
          <i class="material-icons">
            check
          </i>
          2009-2013 <strong> Bsc in Computer Science</strong>, Wrocław University of Techology
        </p>
        <p class="small-margin"><i class="material-icons">
          check
        </i>2006-2011<strong> Msc in Physics</strong>, Wrocław University of Techology
        </p>
      </section>

      <section></section>

    </div>

    <div class="right-section" id="experience">
      <h3>
        <i class="material-icons">
          card_travel
        </i> Experience
      </h3>
    </div>

    <div class="right-section" id="hobby">
      <h3>
        <i class="material-icons"> sports_cricket </i> Hobby
      </h3>
      <p>
        <i class="material-icons"> directions_run </i> Jogging
         <i class="material-icons"> fitness_center </i> Gym
         <i class="material-icons"> sports_motorsports </i> Motorcycle
        <i class="material-icons"> library_books </i> Books
        <i class="material-icons"> ac_unit </i> Snowboard
        <i class="material-icons"> redeem </i> Travelling
      </p>
    </div>

  </section>


  <section class="col-md-1 right-menu">
    <p>
      <i class="material-icons" [routerLink]="['/about']" fragment="about">
        person
      </i>
    </p>
    <p>
      <i class="material-icons" [routerLink]="['/about']" fragment="experience">
        card_travel
      </i>
    </p>
    <p>
      <i class="material-icons" [routerLink]="['/about']" fragment="hobby">
        sports_cricket
      </i>
    </p>
  </section>
</div>
