table {
  width: 100%;
}

.mat-MODERATOR {
  background-color: #7a803f;
  color: #fff;
}

.mat-ADMIN {
  background-color: #2d7f80;
  color: #fff;
}

.mat-USER {
  background-color: #2e3a80;
  color: #fff;
}

.menu {
  margin-bottom: 20px;
}
